# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Cache
.pytest_cache/
.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Streamlit Secret
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Log
*.log